<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="usejava8LocalDateTimeEct" value="true" />
        <option name="userMacSet">
          <set>
            <option value="0025_3888_91" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>